# Données volumineuses
*.csv
*.pkl
*.parquet
*.xlsx
*.xls

# Cache et build
__pycache__/
*.pyc
.pytest_cache/

# Environnement
.env
.venv
venv/
ENV/
mangetamain-venv/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Docker
.dockerignore
data/raw/*.csv
data/processed/*.csv
venv/
tests/__pycache__/
MangeTaMain/tests/__pycache__/
*.pkl
/notebooks/subdir/nltk_data/*
src/*pycache*
*.coverage

# Documentation build
docs/_build/
docs/_static/
docs/_templates/

# Logs
logs/
*.log